.movie-detail-container {
  background-color: #fff;
  height: 90px;
}
.singleHeading {
  margin-top: 100px;
  background-color: #1e272d;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.singleHeading h1 {
  text-transform: uppercase;
  font-size: 30px;
}
.singleHeading span {
  word-spacing: 5px;
  margin-left: 10px;
}
.singleHeading p {
  margin-left: 10px;
  font-size: 20px;
}

.movie-detail {
  margin-top: 26px;
  display: flex;
  gap: 22px;
}
.movie-img {
  display: flex;
  width: 30%;
  height: 800px;
}
.movie-detail img {
  width: auto;
  height: 60%;
  object-fit: contain;
}
.movie-info {
  display: flex;
  flex-direction: column;
  height: 800px;
}
.movie-info-overview {
  color: #fff;
  text-decoration: solid;
  width: 75%;
}
.overview {
  margin-top: 10px;
  font-size: 50px;
  font-weight: 500;
  color: #fff;
}
.vote {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
  font-size: 40px;
}

.categories {
  display: flex;
  gap: 10px;
  margin-top: 6px;
  text-align: center;
  align-items: center;
}

.release-date,
.genres {
  margin-top: 22px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  align-items: center;
}

/* design button play trailer */

.play-trailer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 50px;
  background-color: #e74848;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.play-trailer:hover {
  transform: scale(1.1);
}

.play-icon {
  font-size: 24px;
  margin-right: 5px;
  margin-left: 0;
}
