.my-movie-list-container {
  margin-left: 24px;
}

.my-movie-list {
  margin-top: 26px;
  display: flex;
  border: 1px dotted #fff;
  box-shadow: 10px 10px 5px rgb(246, 169, 3);
}
.my-movie-list-img {
  display: flex;
  width: 30%;
  margin-right: -12%;
}
.my-movie-list-img img {
  height: 90%;
  object-fit: contain;
  width: 50%;
}

.my-movie-list-info {
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 50%;
  position: relative;
}
.my-movie-list-overview {
  margin-top: 10px;
  font-size: 32px;
  font-weight: 500;
  color: #fff;
}

.my-movie-list-categories {
  display: flex;
  gap: 10px;
  margin-top: 6px;
  text-align: center;
  align-items: center;
}

.my-movie-list-vote {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: -30px;
  font-size: 23px;
}

.my-movie-list-release-date {
  margin-top: -15px;
  width: 210px;
  height: 50px;
  font-size: 22px;
  text-align: center;
}

.my-movie-list-btn {
  position: absolute;
  right: -60%;
  top: 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  transition: all 0.3s ease-in-out;
}

.my-movie-list-btn:hover {
  color: red;
  cursor: pointer;
  transform: scale(1.2);
}
