.register {
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(../../../public/images/back-ground-image.webp);
  background-size: cover;
  position: relative;
}
.sign-up-wrapper {
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sign-up-logo {
  height: 40px;
}
.loginButton {
  background-color: red;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  z-index: 100;
}

.sign-up-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.sign-up-container .sign-up-form {
  width: 350px;
  height: calc(350px * 1.618);
  padding: 30px;
  border-radius: 5px;
  background-color: #0b0b0b;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: -1000px;
}

.sign-up-container .sign-up-form input {
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  background-color: gray;
  color: #fff;
}

.sign-up-form input::placeholder {
  color: lightgrey;
}

.sign-up-container button {
  height: 40px;
  border-radius: 5px;
  background-color: red;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.sign-up-container .registerButton:hover {
  background-color: darkred;
}

.alert {
  color: red;
  font-size: 14px;
  margin-bottom: 0;
  padding: 0;
  height: 1px;
  width: 100%;
}

.sign-up-form span {
  color: lightgrey;
  font-size: 14px;
  text-align: center;
}

.sign-up-form .b {
  color: white;
  transition: all 0.3s;
  text-decoration: none;
}

.sign-up-form .b:hover b {
  text-decoration: underline;
  font-size: 103%;
}
